@font-face {
	font-family: "myicons";	
	src: url('../fonts/icons/myicons.woff2') format('woff2'),
		url('../fonts/icons/myicons.woff') format('woff');
}
[class^='icon-']:before{
	font-family: "myicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-facebook:before {
	content: "\E001";
}

.icon-instagram:before {
	content: "\E002";
}

.icon-location:before {
	content: "\E003";
}

.icon-page:before {
	content: "\E004";
}

.icon-pinterest:before {
	content: "\E005";
}

.icon-quotes:before {
	content: "\E006";
}

.icon-time:before {
	content: "\E007";
}

.icon-twitter:before {
	content: "\E008";
}